/* Element Variables */

// Override Element UI variables

$--color-success: #268d59;
$--color-danger: #d95656;
$--color-info: #2385df;
$--button-font-weight: 400;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border:1px solid #dfe6ec;
$--color-primary: #147ee8;
$--color-warning: #d99025;
$--color-text-primary: #1f3449;
$--color-text-regular: #506276;
$--color-text-placeholder: #7b8998;
$--border-color-base: #dfe5eb;
$--background-color-base: #f5f7f9;

// Icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// Apply overrided variables in Element UI
@import '~element-ui/packages/theme-chalk/src/index';
